<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title  th:text="#{messages.managers}">Manager</title>
	
	<div th:replace="~{commons :: head}"></div>
</head>

<body onload="onLoad()">

<div th:replace="~{commons :: nav}"></div>

<form action="/manager" method="post">
<section class="managerForm container">
	<div class="row">
		<div class="col">
			  <div class="form-group">
			    <label  th:text="#{messages.fio}">Name</label>
			    <input id="fio" type="text" name="fio" class="form-control" required>
			  </div>
			  <div class="form-group">
			   <label  th:text="#{messages.address}">Address</label>
			    <input id="address" type="text"  name="address" class="form-control" required>
			  </div>
			  <div class="form-group">
			    <label  th:text="#{messages.phone}">Phone</label>
			    <input id="phone" type="text"  name="phone" class="form-control" required>
			  </div>
  			  <div class="form-group">
			    <label th:text="#{messages.username}">Username</label>
			    <input id="username" type="text"  name="username" class="form-control" required>
			  </div>
  			  <div class="form-group">
			    <label th:text="#{messages.password}">Password</label>
			    <input id="password" type="password"  name="password" class="form-control" required>
			  </div>
			  <button type="submit" class="btn btn-primary" th:text="#{messages.submit}">Submit</button>
			  <button th:if="${managers}" type="submit" formaction="/manager/edit" class="btn btn-primary" th:text="#{messages.edit}">Edit</button>
		
		</div>
	</div>
</section>


<section class="managerList">
	<div class="container">
		<h3 class="text-center" th:text="#{messages.managers}">Managers</h3>
		
						<table class="m-auto">
					<thead>
						<tr>
							<th th:text="#{messages.selectForEdit}">Selected</th>
							<th th:text="#{messages.fio}">FIO</th>
							<th th:text="#{messages.phone}">Phone</th>
							<th th:text="#{messages.address}">Address</th>
							<th th:text="#{messages.username}">Username</th>
							<th th:text="#{messages.password}">Password</th>
							<th th:text="#{messages.remove}">Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="manager:${managers}" th:id="'id'+${manager.id}">
							<td><input th:onclick="'make('+${manager.id}+')'"
								type="radio" name="idd" th:value=${manager.id}
								th:text="#{messages.selectForEdit}" checked="checked"></td>
							<td id="fio" th:text="${manager.fio}"></td>
							<td id="phone" th:text="${manager.phone}"></td>
							<td id="address" th:text="${manager.address}"></td>
							<td id="username" th:text="${manager.username}"></td>
							<td id="username" th:text="${manager.password}"></td>
							<td><a th:href="'user/remove/'+${manager.id}"
								th:text="#{messages.remove}">remove</a></td>
						</tr>
					</tbody>
				</table>
		
		
	</div>
</section>
<script type="text/javascript">
function make(id){
	$(".col #fio").val($("section.managerList tr#id"+id+" #fio").html());
	$(".col #phone").val($("section.managerList tr#id"+id+" #phone").html());
	$(".col #address").val($("section.managerList tr#id"+id+" #address").html());
	$(".col #username").val($("section.managerList tr#id"+id+" #username").html());
}
</script>

</form>
</body>
</html>